body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  padding: 20px;
  background: #1e293b;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.form-box {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 95%;
  padding: 10px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

#message {
  margin-top: 15px;
  font-weight: bold;
}
